NEXT_PUBLIC_SOROBAN_RPC_MAINNET=https://mainnet.stellar.validationcloud.io/v1/json-rpc
NEXT_PUBLIC_SOROBAN_RPC_TESTNET=https://soroban-testnet.stellar.org
NEXT_PUBLIC_HORIZON_MAINNET=https://horizon.stellar.org
NEXT_PUBLIC_HORIZON_TESTNET=https://horizon-testnet.stellar.org
NEXT_PUBLIC_DEFAULT_NETWORK=testnet
